//Cores
$primaryHtmlColor: #E44D26;
$secondaryHtmlColor: #F16529;
$primaryCssColor: #264DE4;
$secondaryCssColor: #2965F1;
$primaryJsColor: #E5A228;
$secondaryJsColor: #F1BF26;
$backgroundDefaultColor: #FFFFFF;
$fontDefaultColor: #000000;
$backgroundSecondaryColor: #000000;
$fontSecondaryColor: #FFFFFF;
//Gradientes
$gradienteHTML: linear-gradient(90deg, rgba(228, 77, 38, 0.8) 0%, rgba(241, 101, 41, 0.8) 100%);
$gradienteCSS: linear-gradient(90deg, rgba(38, 77, 228, 0.8) 0%, rgba(41, 101, 241, 0.8) 100%);
$gradienteJS: linear-gradient(90deg, rgba(229, 162, 40, 0.8) 0%, rgba(241, 191, 38, 0.8) 100%);
$gradienteLinks: linear-gradient(90deg, #BBBBBB 0%, #DDDDDD 100%);

$breakpoints: (xs: 0, //Smartphones em modo retrato
  sm: 576px, //Smartphones em modo paisagem ou Tablets em modo retrato
  md: 768px, //Tablets em modo paisagem
  lg: 992px, //Desktops
  xl: 1200px, //Desktops com alta definição HD e FHD
  xxl: 2000px //Desktops com ultra alta definição QHD e UHD
);

$colorsLikert: (1: #9E2731,
  2: #D41314,
  3: #C75413,
  4: #F8CA2E,
  5: #C9E165,
  6: #7ADC54,
  7: #027F37);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#destaque {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: url(/img/p1.jpg);
  background-size: cover;
}

.vermelho {
  color: $primaryHtmlColor;
  background: none;
}

.azul {
  color: $primaryCssColor;
  background: none;
}

.laranja {
  color: $primaryJsColor;
  background: none;
}

h1 {
  margin: 1rem;
  padding: 0.1rem;
  font-size: 2rem;
}

h2 {
  margin: 1rem;
  padding: 0.1rem;
  font-size: 1.6rem;
}

h3 {
  margin: 1rem;
  padding: 0.1rem;
  font-size: 1.3rem;
}

.saibaMais {
  background-color: $backgroundSecondaryColor;
  color: $fontSecondaryColor;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  width: 200px;
  font-weight: 900;
  align-self: center;
  align-items: center;
}

#html {
  text-align: center;
  align-self: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondaryHtmlColor;
}

#js {
  text-align: center;
  align-self: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondaryJsColor;
}

#css {
  text-align: center;
  align-self: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondaryCssColor;
}

@media (min-width: 861px) {
  #butMenu {
    display: none;
  }

  #links {
    background-color: $backgroundDefaultColor;
  }

  .tag {
    display: absolute;
    float: left;
    max-height: 15rem;
  }

  .tag2 {
    display: absolute;
    float: right;
    max-height: 15rem;
  }

  #page {
    display: grid;
    width: 100%;
    max-width: 1110px;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "Planejamento Programação Ajuda"
      "Planejamento Programação Ajuda"
      "Planejamento Programação Ajuda";
  }

  header {
    background-color: $backgroundSecondaryColor;
    text-align: right;

    img {
      float: left;
      margin: 0.2rem;
      max-height: 9rem;
    }

    a {
      font-weight: bolder;
      text-decoration: none;
      color: $fontSecondaryColor;
      padding-right: 1rem;
    }

    li {
      display: inline-block;
      align-items: baseline;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  footer {
    display: grid;
    background-color: $backgroundSecondaryColor;
    color: $fontSecondaryColor;
  }

  #textoFooter {
    display: table-row-group;
    float: left;
  }

  #logoFooter {
    display: table-row-group;
    float: right;
  }
}

@media (max-width: 860px) {
  #menu {
    display: none;
  }

  #links {
    background-color: $backgroundDefaultColor;
  }

  .tag {
    max-height: 15rem;
  }

  .tag2 {
    max-height: 15rem;
  }

  #page {
    display: grid;
    width: 100%;
    max-width: 1110px;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "Planejamento"
      "Programação"
      "Ajuda";
  }

  header {
    background-color: $backgroundSecondaryColor;
    text-align: right;

    img {
      float: left;
      margin: 0.2rem;
      max-height: 9rem;
    }

    a {
      font-weight: none;
      text-decoration: none;
      color: $fontSecondaryColor;
      padding-right: 1rem;
    }

    li {
      display: inline-block;
      align-items: baseline;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  footer {
    display: grid;
    text-align: center;
    align-items: center;
    align-self: center;
    background-color: $backgroundSecondaryColor;
    color: $fontSecondaryColor;
  }
}

#page {
  #Planejamento {
    display: grid;
    padding: 16px;
    grid-area: Planejamento;
    height: 100%;
  }

  #Programação {
    display: grid;
    padding: 16px;
    grid-area: Programação;
    height: 100%;
  }

  #Ajuda {
    display: grid;
    padding: 16px;
    grid-area: Ajuda;
    height: 100%;
  }
}

#links {
  a {
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: $fontDefaultColor;
    font-size: 1.1rem;
    font-weight: bolder;
  }

  img {
    margin: 1rem;
    max-width: 2.7rem;
  }

  h2 {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
  }
}

footer {
  a {
    margin-right: 1rem;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: $fontDefaultColor;
    font-weight: bolder;

    img {
      max-height: 3rem;
    }
  }

  p {
    margin-left: 1.5rem;
    color: $fontSecondaryColor;
    font-size: 1.1rem;
    font-weight: bolder;
  }
}